* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

header {
  min-height: 54.5vh;
  background-image: url("https://images.pexels.com/photos/16592498/pexels-photo-16592498.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  text-align: center;
  color: white;
  padding: 1.5em;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.1rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
}

.read-more {
  width: fit-content;
  color: inherit;
  text-decoration: none;
  border: 1px solid #666666;
  padding: 1em 2em;
  background-color: #333333;
  margin: 0.6em 0;
}

.read-more:hover {
  background-color: white;
  color: #333333;
}

.first-section {
  min-height: 27.2vh;
  background-color: #eaeaea;
}
