* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1.1em;
}

header {
  min-height: 450px;
  background-image: url("./../images/pexels-photo-16592498.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  text-align: center;
  color: white;
  padding: 1.5em;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
}

.read-more {
  width: fit-content;
  color: inherit;
  text-decoration: none;
  border: 1px solid #666666;
  padding: 1em 2em;
  background-color: #333333;
  margin: 0.6em 0;
}

.read-more:hover {
  background-color: white;
  color: #333333;
}

.first-section {
  min-height: 224px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #333333;
  gap: 1.3em;
  padding: 1.5em 1.5em 2em;
}

h2 {
  font-size: 1.65rem;
  font-weight: bold;
  text-align: center;
}

.first-section > div {
  display: flex;
  max-width: 827px;
  gap: 1.5em;
}

.first-section > div > p {
  max-width: 400px;
  text-align: center;
}

.second-section {
  min-height: 388.73px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2rem 1.1rem 1.1rem;
  gap: 1.2em;
}

.card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  color: #333333;
  background-color: #ffffff;
  max-width: 273px;
  min-height: 318px;
  text-align: center;
  gap: 2em;
}

.card-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.5em 1.5em;
  gap: 2em;
}

h3 {
  font-weight: bold;
  font-size: 1.17em;
}

img {
  width: 100%;
  max-height: 182px;
}

.third-section {
  min-height: 250px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #333333;
  gap: 1.3em;
  padding: 2em;
  text-align: center;
}

.third-section > p {
  max-width: 880px;
}
